<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".aal" mimeType="text/plain" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By-Plesk" />
                <remove name="X-Powered-By" />
                <add name="Cache-control" value="no-store" />
                <add name="Pragma" value="no-cache" />
                <!-- <add name="Access-Control-Allow-Origin" value="https://liteportal.dpodev.biz" /> -->
                <add name="Access-Control-Allow-Origin" value="DYNAMIC" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <allowedServerVariables>
                <add name="RESPONSE_Access-Control-Allow-Origin" />
                <add name="HTTP_ORIGIN" />
            </allowedServerVariables>
            <rules>
                <rule name="API v9 Routing" stopProcessing="true">
                  <match url="^api/v9/(.*)" />
                  <action type="Rewrite" url="/api/v9/index.php" />
                </rule>            
            </rules>
            <outboundRules rewriteBeforeCache="true">
                <!-- <rule name="Add Dynamic Access-Control-Allow-Origin" enabled="true">
                    <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_ORIGIN}" pattern="^https://liteportal\.dpodev\.biz$" />
                        <add input="{HTTP_ORIGIN}" pattern="^https://f2f-portal\.dpodev\.biz$" />
                    </conditions>
                    <action type="Rewrite" value="{HTTP_ORIGIN}" />
                </rule> -->
                <rule name="Add Access-Control-Allow-Origin">
                    <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".*" />
                    <conditions>
                        <add input="{HTTP_ORIGIN}" pattern="https://liteportal.dpodev.biz" />
                        <add input="{HTTP_ORIGIN}" pattern="https://f2f-portal.dpodev.biz" />
                    </conditions>
                    <action type="Rewrite" value="{HTTP_ORIGIN}" />
                </rule>
                <rule name="Remove Server header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule> 
            </outboundRules>
        </rewrite>
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONS-Integrated" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>